@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply transition-all duration-300;
}

/* IMPO: TAILWIND SECTION */
.btn {
	@apply cursor-pointer hover:opacity-60 transition-all duration-300;
}

.base-bg {
	@apply bg-[#0E51FF];
}

/* IMPO: CSS SECTION */
